<!DOCTYPE html>
<html>
  <head>
    <title>Nickmarks</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
       <div class="pull-right user-info">
        Hello <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook) %></li>


        <% end %>
      </ul>



      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      

      <%= yield %>
     </div>

  </body>
</html>